$center: 0 auto;

//this area is for width and height
$site-width: 980px;
$banner-footer-width: 1280px;
$banner-height: 500px;
$footer-height: 100px;
$home-form-width: 818px;

//this area is for site colors
$site-blue: #79addc;
$site-white: #ffffff;
$site-black: #000000;
