.tour-boxes {
  //background-color: yellow;
  width: 790px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  .plan-one {
    //background-color: pink;
    width: 236px;
    height: 304px;
    margin-top: -80px;
    background-image: linear-gradient(
        rgba($site-black, 0.5),
        rgba($site-black, 0.5)
      ),
      url(../images/tour/tour-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .plan-two {
    //background-color: orange;
    width: 236px;
    height: 304px;
    margin-top: -80px;
    background-image: linear-gradient(
        rgba($site-black, 0.5),
        rgba($site-black, 0.5)
      ),
      url(../images/tour/tour-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .plan-three {
    //background-color: red;
    width: 236px;
    height: 304px;
    margin-top: -80px;
    background-image: linear-gradient(
        rgba($site-black, 0.5),
        rgba($site-black, 0.5)
      ),
      url(../images/tour/tour-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding-top: 80px;
  }

  .price {
    color: white;
    font-size: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
  }

  .learnMore {
    background-color: $site-blue;
    color: white;
    width: 133px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

@media screen and (max-width: 800px) {
  .tour-boxes {
    width: 100%;
    flex-direction: column;
    height: 925px;
    margin: 0 auto;
    align-items: center;
    .plan-one {
      margin-top: 0px;
      width: 100%;
    }
    .plan-two {
      margin-top: 0px;
      width: 100%;
    }
    .plan-three {
      margin-top: 0px;
      width: 100%;
    }
  }
}
