.footer {
  background-color: $site-blue;
  width: 100%;
  height: 100px;
  display: flex;
  margin: $center;
  //background-color: $site-black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .logo {
    padding-left: 150px;
  }
  .copyright {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .logos {
    font-size: 30px;
    color: white;
    margin-right: 50px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    height: 200px;
    .logo {
      margin: 0 auto;
      padding-left: 0;
      padding-top: 40px;
    }
    .copyright {
      margin: 0 auto;
    }
    .logos {
      margin: 0 auto;
      padding-bottom: 50px;
    }
  }
}
