.travelplan-boxes {
  background-color: yellow;
}
.travelplan-boxes .plan-one {
  background-color: pink;
  width: 236px;
  height: 304px;
}
.travelplan-boxes .plan-two {
  background-color: orange;
  width: 236px;
  height: 304px;
}
.travelplan-boxes .plan-three {
  background-color: red;
  width: 236px;
  height: 304px;
}